    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #2F2F2F;
        font-family: 'Roboto', sans-serif;
        margin: 0;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
        font-weight: bolder;
    }
    
    .navbar-light .navbar-nav .nav-link {
        transition: 0.3s;
    }
    
    h1 {
        color: $colorPrimario;
        text-align: center;
        justify-content: center;
        text-decoration: solid;
         ::after {
            content: "";
            display: block;
            width: 50px;
            height: 5px;
            background-color: white;
        }
    }
    
    .header-area {
        width: 100%;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    .index {
        background-image: url(../imagenes/entuszapatos.jpg);
    }
    
    .titulo {
        font-size: 50px;
        font-style: normal;
        font-weight: bold;
        /*comentario- 300-500-700 que traje*/
        text-align: center;
        /*pone en centro, izq, derecha*/
    }
    
    h2 {
        color: $colorSecundario;
        size: 230px;
        text-decoration: none;
    }
    
    h3 {
        @extend h2;
    }
    
    @mixin h1 ($border) {
        color: $colorPrimario;
        background-color: #A9E5BB;
        width: 250px;
        border: $border;
        padding: 30px;
        margin: 30px auto;
        text-align: center;
        justify-content: center;
    }
    
    p {
        color: white;
        size: 150px;
    }
    
    .parrafo-mediano {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    
    .fa-bars:before,
    .fa-navicon:before {
        display: none;
    }
    
    .fa-spotify:before {
        color: black;
    }
    
    .fa-instagram:before {
        color: black;
    }
    
    .footer {
        display: flex;
        background-color: #E63946;
        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid;
        border-color: #000000;
        margin-top: 30px;
        .footer__copy {
            color: black;
            font-weight: 1000;
            text-decoration-style: double;
            text-decoration-color: black;
        }
        .footer__logo {
            font-size: xxx-large;
            align-items: flex-end;
            text-decoration: none;
            color: #000000;
        }
    }
    
    .table-full {
        width: 100%;
        th {
            color: #E63946;
        }
        tr {
            border-bottom: 1px solid #E63946;
        }
        td {
            padding: 5px 10px;
        }
    }